.user-info-card {
  width: min(100%, 800px);
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  background: var(--color-bg);
  color: var(--color-text);
  padding: 24px;
}

/* Card header */

.user-info-card__header,
.user-info-card__footer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
}

/* Card header title */

.user-info-card__header__title {
  display: flex;
  justify-content: flex-start;
  font-family: "Actor", system-ui, sans-serif;
  font-size: clamp(24px, 3vw, 32px);
  color: var(--color-primary);
}

/* Card header actions */

.user-info-card__header__actions {
  display: flex;
  justify-content: flex-end;
}

/* Card header close-button */

.user-info-card__actions__close-button {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  width: min(100%, 100px);
  align-items: center;
  justify-content: center;
}

/* User card main content */

.user-info-card__main__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.user-info-card__main__info-text {
  margin: 0;
  color: var(--color-text);
  font-family: "Actor", system-ui, sans-serif;
  font-size: clamp(20px, 2vw, 32px);
}

/* User card footer */

.user-info-card__footer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
}

.user-info-card__footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.user-info-card__footer__text-small {
  margin: 0;
  color: var(--color-text);
  font-family: "Actor", system-ui, sans-serif;
  font-size: clamp(16px, 1.5vw, 20px);
}

@media (max-width: 1020px) {
  .user-info-card {
    padding-bottom: 100px;
  }

  .user-info-card__main__info {
    width: min(100%, 640px);
  }
}

@media (max-width: 640px) {
  .user-info-card {
    padding: 0 0 104px;
  }
}
